<ion-header>
  <ion-toolbar color="primary">
    <button slot="start" style="background-color: #3880ff;">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </button>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <div *ngIf='dishes' >
    <ion-card *ngFor='let dish of dishes' (click)="dishSelected(dish)">
      <img src="{{BaseURL + dish.image}}" />
      <div class="card-title">
        {{dish.name}}
      </div>
      <div class="card-subtitle">
        {{dish.description}}
      </div>
    </ion-card>
  </div>
  <div [hidden]='dishes || errMsg'>
    <ion-spinner></ion-spinner>
    <h4>Loading ...please wait</h4>
  </div>
  <div *ngIf='errMsg'>
    <h2>
      Error :
    </h2>
    <h4>
      {{errMsg}}
    </h4>
  </div>
</ion-content>